/* ======================================
 * ! Font
 * ====================================== */

$font_family: sans, sans-serif;

// Font sizes

$font_size_reg: 1em;

$font_size_mega: round($font_size_reg*6);
$font_size_xxxl: round($font_size_reg*2.5);
$font_size_xxl:  round($font_size_reg*2);
$font_size_xl:   round($font_size_reg*1.5);
$font_size_lg:   round($font_size_reg*1.2);
$font_size_sm:   round($font_size_reg*0.8);

stage {
    font-family: $font_family;
    font-size: $font_size_reg;
}

.cinnamon-link {
    color: $linkcolor;
    font-weight: normal;
    text-decoration: underline;

    &:hover {
        color: $selected_fg_color;
        text-decoration: underline;
    }
}

.label-shadow {
    color: rgba(0, 0, 0, 0.5);
}
