/* ======================================
 * ! Tile Previews
 * ====================================== */

.tile-preview, .tile-hud {
    background-color: rgba($osd_bg, 0.5);
    border: 2px solid rgba($osd_borders_color, 0.8);

    &.snap {
      background-color: rgba($sel_bg_color, 0.5);
      border: 2px solid rgba($sel_bg_color, 0.8);
	  }
	}
}

.tile-hud:top {
    border-top-width: 0px;
    border-radius: 0px 0px 8px 8px;
}

.tile-hud:bottom {
    border-bottom-width: 0px;
    border-radius: 8px 8px 0px 0px;
}

.tile-hud:left {
    border-left-width: 0px;
    border-radius: 0px 8px 8px 0px;
}

.tile-hud:right {
    border-right-width: 0px;
    border-radius: 8px 0px 0px 8px;
}

.tile-hud:top-left {
    border-top-width: 0px;
    border-left-width: 0px;
    border-radius: 0px 0px 8px 0px;
}

.tile-hud:top-right {
    border-top-width: 0px;
    border-right-width: 0px;
    border-radius: 0px 0px 0px 8px;
}

.tile-hud:bottom-left {
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-radius: 0px 8px 0px 0px;
}

.tile-hud:bottom-right {
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-radius: 8px 0px 0px 0px;
}
