/* ======================================
 * ! Tooltips
 * ====================================== */

#Tooltip {
    @include cinn-bg-gradient($tooltip_bg_color, vertical);

      padding: 5px 8px;
      border: 1px solid #tooltip_fg_color;
      color: #tooltip_fg_color;
      font-size: $font_size_regular;
      font-weight: normal;
      text-align: center;
      border-radius: $roundness;
}
