/* ======================================
 * ! Desklets
 * ====================================== */

.desklet {
    color: $fg_color;
    
    &:highlight {
	    background-color: $selected_bg_color;
	}

    &-with-borders {
        @include cinn-bg-gradiant($bg_color, horizontal);
		@include cinn-border;

        color: $fg_color;
        padding: 7px;
		border-radius-topleft: $roundness;
		border-radius-topright: $roundness;
		
		&:highlight {
	        background-color: $selected_bg_color;
	    }
	    
	&-with-borders-and-header {
        @extend .desklet-with-borders;

		border-radius-bottomleft: $roundness;
		border-radius-bottomright: $roundness;
		
		&:highlight {
	        background-color: $selected_bg_color;
	    }

    &-header {
        @extend .desklet-with-borders;

        font-size: $font_size_lg;
        padding: 10px;
    }

    &-drag-placeholder {
		@include cinn-bg-trans;

        border: 1px solid rgba(0, 0, 0, 0);
        border-radius: $roundness;
        background-color: none;
    }
}
