/* ======================================
 * ! Checkboxes + Radio buttons
 * ====================================== */

.check-box CinnamonGenericContainer {
    spacing: .2em;

    StBin, &:focus StBin {
        width: 16px;
        height: 16px;
        background-image: url("assets/checkbox-off.svg");
        

    &:checked StBin, &:focus:checked StBin {
    background-image: url("assets/checkbox.svg");
}
.check-box StLabel {
    font-weight: normal;
}
.radiobutton CinnamonGenericContainer {
    spacing: .2em;
    height: 18px;
    padding-top: 2px;

	StBin, &:focus StBin {
	    width: 16px;
	    height: 16px;
        background-image: url("assets/radiobutton-off.svg");
        border-radius: 15px;
    
    &:checked StBin, &:focus:checked StBin {
        url("radiobutton.svg");
}
.radiobutton StLabel {
    padding-top: 4px;
    font-size: 0.9em;
    box-shadow: none;
}
