@mixin entry($height: 2em, $width: 220px) {
    @include cinn-bg-gradient ($color, horizontal);
    @include cinn-border;
    @include size($width, $height);
    
    color: $fg_color;
    padding: 4px;
    font-size: $font-size-reg;

    &:focus, &:active, &:pressed {
        color: $fg_color;
        caret-color: $fg_color;
        caret-size: 1em;
        selected-color: $selected_fg_color;
        selection-background-color: $selected_bg_color;
    }

    StIcon {
        color: $text-secondary;
        icon-size: 16px;
    }

    &:focus > StIcon,
    &:active > StIcon,
    &:pressed > StIcon {
        color: $text-primary;
    }
}

/* ======================================
 * ! Entries
 * ====================================== */

.menu StEntry,
.modal-dialog StEntry,
#notification StEntry {
    @include entry;
}
