/* ======================================
 * ! Scrollbars
 * ====================================== */

StScrollView {
    &.vfade { -st-vfade-offset: 68px  }
    &.hfade { -st-hfade-offset: 68px  }
}

StScrollBar {
    padding: 2px;
    min-width: $font_size_reg;
    min-height: $font_size_reg;

    StScrollView.vfade & { padding: 0 6px; }
    StScrollView.hfade & { padding: 6px 0; }

    StBin#trough {
        background-color: rgba(0, 0, 0, 0);
        border-radius: $roundness / 2;
    }

    StButton#vhandle,
    StButton#hhandle {
        background-color: #dark_bg_color;

        &:hover, &:focus, &:active {
            background-color: #selected_bg_color;
        }
}

