/* ======================================
 * ! Slider
 * ====================================== */

.slider {
    height: $font_size_reg;
    min-width: 15em;
    color: fg_color;
    -slider-height: 0.5em;
    -slider-background-color: $dark_bg_color;
    -slider-border-color: $dark_bg_color;
    -slider-active-background-color: selected_fg_color;
    -slider-active-border-color: $dark_bg_color;
    -slider-border-width: 1px;
    -slider-handle-radius: $font_size_reg / 2;
}
