/* ======================================
 * ! Switchers
 * ====================================== */

.toggle-switch {
    width: 64px;
    height: 22px;

	&-us {
       background-image: url("assets/toggle-off-us.svg");

    &:checked {
       background-image: url("assets/toggle-off-us.svg");
    }
       
    &-intl {
        background-image: url("assets/toggle-off-intl.svg");

    &:checked {
       background-image: url("assets/toggle-off-intl.svg");
    }
}
