// scss-lint:disable ColorVariable

$bg_color: fade-out(#%BG%, 1 - %CINNAMON_OPACITY%);
$fg_color: #%FG%;
$button_bg_color: #%BTN_BG%;
$button_fg_color: #%BTN_FG%;
$selected_bg_color: #%SEL_BG%;
$selected_fg_color: #%SEL_FG%;

$dark_bg_color: fade-out(#%MENU_BG%, 1 - %CINNAMON_OPACITY%);
$dark_fg_color: #%MENU_FG%;

$bg_color_trans: fade-out($bg_color, .5);
$dark_bg_color_trans: fade-out($dark_bg_color, .5);

$bg_color_grad: mix($dark_bg_color, $bg_color, .5 + %GRADIENT%);
$dark_bg_color_grad: mix($bg_color, $dark_bg_color, .5 + %GRADIENT%);

$bg_color_grad_alt1: mix($selected_bg_color, $bg_color, .5 + %GRADIENT%);
$selected_bg_color_grad: mix($bg_color, $selected_bg_color, .5 + %GRADIENT%);

$bg_color_grad_alt2: mix($button_bg_color, $bg_color, .5 + %GRADIENT%);
$button_bg_color_grad: mix($bg_color, $button_bg_color, .5 + %GRADIENT%); 

$selected_borders_color: mix($bg_color, $selected_bg_color, .2);
$borders_color: mix($bg_color, $fg_color, .2);

$scrollbar_bg_color:  darken($bg_color, 5%);
$scrollbar_slider_color: mix($bg_color, $fg_color, .2);
$scrollbar_slider_hover_color: mix($bg_color, $selected_bg_color, .2);

$primary_caret_color: #%CARET1_FG%;
$caret_aspect_ratio: %CARET_SIZE%px;

$link_color: #%TERMINAL_COLOR4%;
$warning_color: #%TERMINAL_COLOR11%;
$error_color: #%TERMINAL_COLOR9%;
$roundness: %ROUNDNESS%px;

