name: Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:

    - uses: actions/checkout@v2
      with:
        submodules: recursive

    #- name: switch base docker image
    #  run: sed -i -e 's|FROM archlinux:base-devel|FROM actionless/pikaur|' Dockerfile

    - name: build docker image
      run: docker image build ./ -t oomox-gtk-theme

    - name: run tests in docker
      run: docker run --entrypoint ./test/all_tests.sh oomox-gtk-theme:latest
